<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8'>
  <title>{{title}} - Secrets </title>
  <link rel="stylesheet" href="../../static/css/main.css">
</head>

<body>
  <!--
       1. This is the element we'll render our Ractive to.
  -->
  <div id='container'></div>

  <!--
       2. You can load a template in many ways. For convenience, we'll include it in
       a script tag so that we don't need to mess around with AJAX or multiline strings.
       Note that we've set the type attribute to 'text/ractive' - though it can be
       just about anything except 'text/javascript'
  -->
  <script id='template' type='text/ractive'>
  {{# page === 'login' }}
    {{>login}}
  {{/}}

  {{# page === 'pixelpin' }}
    {{>pixelpin}}
  {{/}}
  {{# page === 'app' }}
    {{>app}}
  {{/}}
  {{# page === 'apptwo' }}
    {{>apptwo}}
  {{/}}
    
  </script>
  <script id='pixelpin' type='text/ractive'>
    <div class="login">
        <h1>Confirm yout pattern</h1>
        <div class="pixelpin">
          <img on-click='click' src="../../static/img/pixel.png" style="width: auto; height: 250px;">
          <div on-click='clicktwo'  style="border: 1px solid black; width: auto; height: 250px;"></div>
        </div>
    </div>
  </script>
  <script id='login' type='text/ractive'>
    <div class="login">
      <h1>{{title}}</h1>
            <form>
                <input type="text" name="u" placeholder="Username" required="required" />
                <button type="submit" on-click='succes' class="btn btn-primary btn-block btn-large">Let me in.</button>
            </form>
        </div>
  </script>
  <script id='app' type='text/ractive'>
    <div>
       <div class="app-container">
       <h1>{{titleapp}}</h1>
         <div class='table'>
            <ul>
              {{#passwords:name}}
                <li>{{name}}: {{pass}}</li>
              {{/passwords}}
            </ul>
         </div>
      </div>
    </div>
  </script>
  <script id='apptwo' type='text/ractive'>
    <div>
       <div class="app-container">
       <h1>{{titleapp}}</h1>
         <div class='table'>
            <ul>
              {{#passwordsfake:name}}
                <li>{{name}}: {{pass}}</li>
              {{/passwordsfake}}
            </ul>
         </div>
      </div>
    </div>
  </script>

  <!--
       3. You can always get the most recent stable version from the URL below.
       If you want the newest features (unstable!), use the 'edge' version instead:

           http://cdn.ractivejs.org/edge/ractive.min.js

       If you need IE8 support, change 'ractive' to 'ractive-legacy'.
  -->
  <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>

  <!--
       4. We've got an element in the DOM, we've created a template, and we've
       loaded the library - now it's time to build our Hello World app.
  -->
  <script>
    var ractive = new Ractive({
      // The `el` option can be a node, an ID, or a CSS selector.
      el: '#container',

      // We could pass in a string, but for the sake of convenience
      // we're passing the ID of the <script> tag above.
      template: '#template',

      // Here, we're passing in some initial data
      data: { 
        title: "StoreYourPass",
        page: 'login',
        counter: 0,
        titleapp: "THIS ARE YOUR SECRETS",
         passwords: {
          'Facebook': { pass: 'jkhsHJSDIU6' },
          'Instagram': { pass: '£%%OHBnsY^' },
          'G+': { pass: 'uGystdbJ' }
        },
        passwordsfake: {
          'Facebook': { pass: 'fake' },
          'Instagram': { pass: 'fake' },
          'G+': { pass: 'fake' }
        }
        },
      

    });
    ractive.on( 'succes', function ( event ) {
        
        ractive.set({page: "pixelpin"});
    });
    ractive.on( 'click', function ( event ) {
      console.log("one");
        counter = ractive.get('counter');
        counter += 1;
        console.log(counter);
        ractive.set({counter: counter});
        if (counter == 4 ) {
          ractive.set({page: "app"});
        }
    });
    ractive.on( 'clicktwo', function ( event ) {
      console.log("two");
        countertwo = ractive.get('counter');
        countertwo += 1;
        ractive.set({counter: countertwo});
        if (countertwo == 4 ) {
          ractive.set({page: "apptwo"});
        }
    });

  </script>
</body>

