<!doctype html>
<html lang='en-GB'>
  <head>
    <meta charset='utf-8'>
    <title>{{title}} - Secrets </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"
	  </head>

  <body>
    <!--  <h1> Hello world</
	  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>-->
    <h1>Ractive test</h1>

    <div id='container'></div>

    {% raw %}
    <script id='template' type='text/ractive'>
      <p>Hello, {{name}}!</p>
    </script>
    {% endraw %}

    <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
    {% raw %}
    <script>
      var ractive = new Ractive({
      // The `el` option can be a node, an ID, or a CSS selector.
      el: '#container',

      // We could pass in a string, but for the sake of convenience
      // we're passing the ID of the <script> tag above.
	template: '#template',

	// Here, we're passing in some initial data
	data: { name: 'world' }
	});
      </script>
      {% endraw %}
      <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
  </body>

