<!doctype html>
<html lang='en-GB'>
  <head>
    <meta charset='utf-8'>
    <title>{{title}} - Secrets </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/javi.css') }}"/>
  </head>

  <body>

    <h1>Welcome to Ractive test {{user.nickname}}</h1>

    <div id="container"></div>
    <div id="button">Hover me!</div>

    {% raw %}
    <script id='template' type='text/ractive'>
      <p>Hello, {{name}}!</p>
    </script>
    {% endraw %}


    <script src="http://cdn.ractivejs.org/latest/ractive.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>

